h1{
    color:#1017e5;
    font-weight:bold;
    
}









   


body{  
     background:grey;
}

.navbar-inverse .navbar-brand{
background: green;
color:black;
font-family: 'Mogra', cursive;
}

.navbar-brand a:hover{
color:black; !important
}


a:hover{background-color: blue;}


.navbar-inverse{
background:green;
font-family: 'Mogra', cursive;
}

.navbar-inverse .navbar-nav li  a{
color:black;
font-family: 'Mogra', cursive;
}

.navbar-inverse .navbar-nav li  a:hover{
color:blue; !important
}
#boll{
	width: 330px;
}

#Galante{
	width: 450px;
}

a{
	color: purple;
}



#favoritdjur{
	margin-left: 400px;
	text-align: center;
	width:30% ;
}



body{
	text-align: center;
	font-family: 'Mogra', cursive;
}

#eld{
	width: 250px;
}

#ett00{
	width: 200px;
}

#Hundbilden{
	width: 400px;
	float:left;
}

#elefantbilden{
	width: 450px;
	float:right;
}
iframe{
	float:left;
}

